
  body {font-size:1.7em;line-height:1.8em;}
  p, img{margin-top:10px;margin-bottom:10px;}
  .max{max-width:1000px;}
  .footer a{color:#fff;font-size:.6em;font-weight:bold;padding:5px;}
  .footer a:hover{text-decoration:none;}
  .footer li{vertical-align: middle;}
  .topmenu a{color:#fff;font-size:.7em;font-weight:bold;}
ul.nav a{ color: #fff !important; }
ul.nav a:hover { text-decoration:underline; color: #fff !important; }
