  <div class="col-sm-12" style="border:3px solid #18425d;margin-top:20px;margin-bottom:20px;padding:0px">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="background:#18425d;padding:0px;"><img src="/img/squarelogo.png" class="img-responsive"></div>
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="padding:5px;">
 <p class="lead text-info"><strong>Follow For More Nerdiness!</strong></p>
  
  <div class="a2a_kit a2a_kit_size_64 a2a_default_style a2a_follow">
    <a class="a2a_button_facebook a2a_counter" data-a2a-follow="FlickNerd-912878015464408"></a>
    <a class="a2a_button_twitter a2a_counter" data-a2a-follow="Flick_Nerd"></a>
    <a class="a2a_button_youtube_channel hidden" data-a2a-follow="UCF0pVplsI8R5kcAqgtoRqoA"></a>

</div>
</div>

</div>