<footer class="wrapper footer">

  <div class="container max">

    
<br>

<h4 class="text-center white" style="margin-bottom:20px;">Connect with Me</h4>
<ul class="list-inline text-center lead text-uppercase" style="margin-top:0px;margin-bottom:20px;">
  <li style="margin-right:50px;"><a href="https://www.facebook.com/DanHenryMarketing/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
  <li style="margin-right:50px;"><a href="https://twitter.com/danhenry86" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
  <li><a href="https://www.linkedin.com/profile/view?id=AAMAABoQzq8B23hnQ5IoU068XfxAUyyYm8EcAj0" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
  

</ul>
      <p class="text-muted text-center"><small>Copyright {{ site.title }} 2015</small></p>

  </div>

</footer>
