<hr>

<h2 class="text-center">Love the Walking Dead?</h2>
<p class="text-center">Then you'll LOVE this shirt! <a href="http://amzn.to/1N7vqOp">
    <br><i class="fa fa-amazon"></i> Buy it on Amazon!</a> </p>

<a href="http://amzn.to/1N7vqOp"><img src="http://ecx.images-amazon.com/images/I/61iqk5gv6CL._UL1500_.jpg" class="img-responsive center-block" ></a>
<a href="http://amzn.to/1N7vqOp" class="btn btn-lg btn-warning btn-block" style="background:#fe9624;color:#000"><i class="fa fa-amazon" style="color:#000;"></i> <strong>Buy On Amazon</strong></a>
<hr>
