<hr>

<h2 class="text-center">Love the Walking Dead?</h2>
<p class="text-center">Then you'll LOVE this shirt! <a href="http://www.amazon.com/Keep-Calm-Walk-On-T-Shirt/dp/B01161B154/&keyword=walking+dead">
    <br><i class="fa fa-amazon"></i> Buy it on Amazon!</a> </p>

<a href="http://www.amazon.com/Keep-Calm-Walk-On-T-Shirt/dp/B01161B154/&keyword=walking+dead"><img src="/img/walk.png" class="img-responsive center-block" ></a>
<a href="http://www.amazon.com/Keep-Calm-Walk-On-T-Shirt/dp/B01161B154/&keyword=walking+dead" class="btn btn-lg btn-warning btn-block" style="background:#fe9624;color:#000"><i class="fa fa-amazon" style="color:#000;"></i> <strong>Buy On Amazon</strong></a>
<hr>
